Source: digital-library
Section: unknown
Priority: optional
Maintainer: Yuriy Syrovetskiy <cblp@cblp.su>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.5
Homepage: <insert the upstream URL, if relevant>
#Vcs-Git: git://anonscm.debian.org/collab-maint/digital-library.git
#Vcs-Browser: http://anonscm.debian.org/?p=collab-maint/digital-library.git;a=summary

Package: digital-library-server
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Server
 <insert long description, indented with spaces>

Package: digital-library-termclient
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Client
 <insert long description, indented with spaces>
