Package: digital-library-server
Source: digital-library
Version: 0.0.1
Architecture: i386
Maintainer: Yuriy Syrovetskiy <cblp@cblp.su>
Installed-Size: 25
Section: unknown
Priority: optional
Homepage: <insert the upstream URL, if relevant>
Description: Server
 <insert long description, indented with spaces>
