<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>{{title}}</title>
        <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
        <link href="http://getbootstrap.com/examples/navbar-fixed-top/navbar-fixed-top.css" rel="stylesheet">
        <link rel="icon" href="/../images/icon.png">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    </head>

    <body cz-shortcut-listen="true">
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">Библиотека МХЛ</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        {% if title == "Главная"%}
                           <li class="active"><a href="/">Главная</a></li>
                        {% else %}
                           <li><a href="/">Главная</a></li>
                        {% endif %}

                        {% if title == "Мои книги"%}
                           <li class="active"><a href="/myBooks">Мои книги</a></li>
                        {% else %}
                           <li><a href="/myBooks">Мои книги</a></li>
                        {% endif %}

                        {% if title == "Каталог"%}
                            <li class="active"><a href="/books">Каталог</a></li>
                        {% else %}
                            <li><a href="/books">Каталог</a></li>
                        {% endif %}

                        {% if devise == "terminal"%}
                            
                            {% if title == "Взять книги"%}
                                <li class="active"><a href="/handBooks">Взять книги</a></li>
                            {% else %}
                                <li><a href="/handBooks">Взять книги</a></li>
                            {% endif %}

                            {% if title == "Вернуть книги"%}
                                <li class="active"><a href="/returnBooks">Вернуть книги</a></li>
                            {% else %}
                                <li><a href="/returnBooks">Вернуть книги</a></li>
                            {% endif %}

                        {% endif %}

                    </ul>
                    <form class="navbar-form navbar-right">
                        <p class="navbar-text" style="font-size:16px; margin: 6px; margin-right: 20px;">{{user.name}}. На руках {{user.booksCount}} книг</p>
                        <a href="/login" class="btn btn-default">Выход</a>
                    </form>
                </div>
            </div>
        </nav>

        <div class="container">
            {% block content %}
            {% endblock %}
        </div>

    </body>
</html>