{% extends "layout.html" %}

{% block title %}Мои книги{% endblock %}

{% block content %}
    <h3>На руках</h3>
    <div class="row">
        {% for book in books %}
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail" style="min-height: 470px; max-height: 470px;">
                    <img src="{{ 'http://localhost:5000/static/book/small-covers/' + book.id + '.jpg'}}" alt="">
                    <div class="caption" style="padding: 1em 0; text-align: center;">
                        <h3>{{book.title}}</h3>
                        <p>{{book.author}}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <script src="/static/js/jquery.js"></script>
{% endblock %}
