{% extends "layout.html" %}

{% block title %}Взять/Вернуть книги{% endblock %}

{% block content %}
    <div class="content" style="text-align: center;">
        <h2>Отсканируйте штрих код книги, прежде чем взять/вернуть её</h2>
        <img id="cover" src="" alt="" class="img-thumbnail", style="width: 370px; height: 500px; margin-top: 30px;">
        <h2 id="status">Статус операции</h2>
    </div>
    <script>
        window.setInterval(
            function() {
                $.post(
                    "http://localhost:5000/api/book/action",
                    {user: 1, book: 2},
                    function(data) {
                        $("#cover").attr(
                            'src',
                            "http://localhost:5000/static/book/large-covers/" +
                                data.book + ".jpg"
                        );
                        if (data.action == "take") {
                            $("#status").text("Вы взяли книгу");
                        } else {
                            $("#status").text("Вы вернули книгу");
                        }
                    },
                    "json"
                );
            },
            5000
        );
    </script>
{% endblock %}
